//****************Panier****************

#titre_panier{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
#panier{
    width: 80%;
    margin: auto;
    padding-top: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    @media screen and (max-width:768px){
        width: 95%;
        font-size: 1.2em;
    }
    h1{
        font-family: 'Orelega One', sans-serif;
    }
    #tableau{
        width: 100%;
        tr{
            background-color: #f3e9f0;
            .btn-delete{
                padding: 5px;
                cursor: pointer;
                border: none;
            }
        }
        #valeurs{
            td{
                width: 20%;
                text-align: center;
                background-color: #f3e9f0;
                font-size: 1em;
            }
        }
    }
    .prix_total{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f3e9f0;
        #text_total{
            width: 25%;
        }
        #total{
            width: 25%;
        }
    }
}
.panier-vide{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 80px;
    @media screen and (max-width:768px){
        padding: 0;
    }
}

//**************Formulaire de validation*************

#formulaire{
    width: 80%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    background-color: #f3e9f0;
    border-radius: 20px;
    margin-bottom: 40px;
    @media screen and (max-width:768px){
        width: 95%;
    }
    h2{
        text-align: center;
        padding: 40px 0;
    }
    form{
        width: 50%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        input{
            width: 50%;
            margin: 10px 0 10px 0;
            @media screen and (max-width:768px){
                width: 100%;
            }
        }
        label{
            width: 50%;
        }
        textarea{
            width: 50%;
            @media screen and (max-width:768px){
                width: 100%;
            }
        }
        button{
            cursor: pointer;
            padding: 10px;
            border-radius: 10px;
            background-color: gray;
            font-family: 'Raleway', sans-serif;
            border: none;
            margin: 20px 0 20px 0;
        }
    }
}