@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");
body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3e9f0;
  padding: 0 10px 0 10px;
}
header a {
  width: 25%;
}
@media screen and (max-width: 768px) {
  header a {
    width: 40%;
    padding: 15px 0 15px 0;
  }
}
header a .logo {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
header nav a {
  text-decoration-line: none;
  color: black;
  font-family: "Orelega One", sans-serif;
  font-size: 1.5em;
}

.container #articles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .container #articles {
    display: block;
  }
}
.container #articles #mainArticle {
  width: 35%;
  text-decoration-line: none;
  color: black;
}
.container #articles .article {
  border: none;
  border-radius: 30px;
  padding: 10px;
  margin-top: 40px;
  font-family: "Raleway", sans-serif;
  background-color: white;
  text-align: center;
}
.container #articles .article p {
  font-size: 1.3em;
}
.container #articles .article #price {
  font-weight: bold;
}
.container #articles .article img {
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
}
.container #articles .article img:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

footer {
  background-color: #f3e9f0;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer ul {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
footer ul li {
  list-style-type: none;
}
footer ul li a {
  text-decoration-line: none;
  font-size: 1.3em;
  font-family: "Raleway", sans-serif;
  color: black;
}
footer ul li a:hover {
  color: palevioletred;
  font-weight: bold;
}
footer i {
  font-size: 1em;
  padding-right: 5px;
}

body {
  margin: 0;
}

#article {
  display: flex;
  font-family: "Raleway", sans-serif;
  padding-top: 80px;
  background-color: white;
}
#article .image {
  width: 70%;
}
#article .image #image_produit {
  width: 100%;
  border-radius: 0 20px 20px 0;
}
#article .description {
  padding: 20px;
}
#article .description h1 {
  font-size: 1.7em;
}
#article .description p {
  font-size: 1.3em;
}
#article .description #price_produit {
  font-weight: bold;
}
#article .description input {
  width: 50px;
  height: 30px;
  padding: 5px;
  margin-top: 20px;
}
#article .description #btn_add {
  cursor: pointer;
  padding: 15px;
  border-radius: 20px;
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
  background-color: pink;
  color: black;
  font-weight: bold;
  border: none;
  margin-top: 30px;
}

footer {
  background-color: #f3e9f0;
  padding: 50px 10px 100px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer ul {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
footer ul li {
  list-style-type: none;
}
footer ul li a {
  text-decoration-line: none;
  font-size: 1.3em;
  font-family: "Raleway", sans-serif;
  color: black;
}
footer ul li a:hover {
  color: palevioletred;
  font-weight: bold;
}
footer i {
  font-size: 1em;
  padding-right: 5px;
}

#titre_panier {
  font-family: "Orelega One", sans-serif;
  text-align: center;
}

#panier {
  width: 80%;
  margin: auto;
  padding-top: 40px;
  font-family: "Raleway", sans-serif;
}
#panier h1 {
  font-family: "Orelega One", sans-serif;
}
#panier #tableau {
  width: 100%;
}
#panier #tableau tr {
  background-color: #f3e9f0;
}
#panier #tableau tr .btn-delete {
  padding: 5px;
  cursor: pointer;
  border: none;
}
#panier #tableau #valeurs td {
  width: 20%;
  text-align: center;
  background-color: #f3e9f0;
  font-size: 1.3em;
}
#panier .prix_total {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3e9f0;
}
#panier .prix_total #text_total {
  width: 25%;
}
#panier .prix_total #total {
  width: 25%;
}

.panier-vide {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding: 80px;
}

#formulaire {
  width: 80%;
  margin: auto;
  font-family: "Raleway", sans-serif;
  background-color: #f3e9f0;
}
#formulaire h2 {
  text-align: center;
}
#formulaire form {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
#formulaire form input {
  width: 50%;
  margin: 10px 0 10px 0;
}
#formulaire form label {
  width: 50%;
}
#formulaire form textarea {
  width: 50%;
}
#formulaire form button {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  background-color: gray;
  font-family: "Raleway", sans-serif;
  border: none;
  margin: 20px 0 20px 0;
}

h1 {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

#recapitulatif {
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
